body, html
{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.pageBackground
{
    position: fixed;
    background-image: url(../images/profile-picture.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transform: scale(1.1);
    overflow: hidden;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    z-index: -1;
    filter: blur(100px);
    will-change: filter;
}

#container
{
    padding-top:50px;
}

#content
{
    background-image: linear-gradient(rgb(16, 16, 16), rgb(16, 16, 16));
    border-radius: 24px;
    width: 720px;
    height: fit-content;
    margin: auto;
}

#con2
{
    padding: 0px 20px 40px;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}

#con3
{
    position: relative;
}

#con4
{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

#upper_con4
{
    margin: 0px;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#lower_con4
{
    margin-bottom: 23px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
}

#con5
{
    padding-bottom: 16px;
    align-items: center;
    flex-direction: column;
    width: calc(100% + 40px);
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

#con6
{
    margin-top: -75px;
    display: flex;
}

#con7
{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

#name
{
    border-radius: 36px;
    color: rgb(254, 254, 254);
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}

#bio
{
    margin-top: 4px;
}

#bio2
{
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 4px;
}

#bio3
{
    border-radius: 36px;
    color: rgb(254, 254, 254);
    margin-bottom: 8px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

#socials
{
    margin-top: 8px;
}

#socials2
{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

#bio_container
{
    text-align: center;
    width: 100%;
    margin-top: 12px;
    z-index: 10;
}

#bannerImage
{
    border-radius: 8px;
    width: 100%;
}

#userPhoto
{
    width: 150px;
    height: 150px;
    border-radius: 10000px;
    opacity: 1;
    border: 2px solid rgb(254, 254, 254);
    margin: auto;
}

.link_container
{
    position: relative;
}

.link_anchor
{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    line-height: 1.75;
    min-width: 64px;
    width: 100%;
    outline: 0px;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 36px;
    background-color: rgb(31, 33, 37);
    color: rgb(254, 254, 254);
    font-family: Poppins, sans-serif;
    text-transform: none;
    box-shadow: none;
    font-size: 15px;
    min-height: 65px;
    padding: 8px;
    margin: 16px 0px;
    border: 2px solid rgb(254, 254, 254);
    display: flex;
    pointer-events: auto;
}

.link_div1
{
    justify-content: center;
    align-items: center;
    min-width: 56px;
    width: 3.5rem;
    display: flex;
    margin-right: 8px;
}

.link_img
{
    object-fit: cover;
    border-radius: 50%;
}

.link_div2
{
    text-align: left;
    min-width: 0;
    width: 100%;
}

.link_div3
{
    font-size: 16px;
    line-height: 1.4;
}

.link_div4
{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.42px;
}